@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
  }

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* header */

.bd-grid {
    display: grid;
    /* max-width: 1024px; */
    margin-left: 1rem;
    margin-right: 1rem;
    height: 1000px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.l-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: white;
    width: 100%;
    box-shadow: 0 1px 4px rgb(58, 57, 57);
    height: 4rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    font-weight: 600;
}

.nav__logo{
    color: hsl(var(--hue-color), 56%, 12%);
    margin-left: 1rem;
    font-size: 1.25rem;
}

.nav__logo:hover {
    font-size: 1.5rem;
}

.section-title {
    position: relative;
    font-size: 2rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    text-align: center;
}

.section-title::after {
    position: absolute;
    content: '';
    width: 74px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 3rem;
    background-color: brown;
}

.section {
    padding-top: 3rem;
    padding-bottom: 2rem;
    
}

.nav__link {
    position: relative;
    color: rgb(26, 25, 25);
  }
  
.nav__link:hover {
    position: relative;
  }
  
.nav__link:hover::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 1.5rem;
    background-color: brown;
  }

h1 {
    margin-top: 10rem;
    font-size:5rem;

}

span {
    color: brown;
}

#theone {
    font-size: 2.5rem;
}

.button {
    display: inline-block;
    background-color: brown;
    color: white;
    padding: .75rem 2.5rem;
    font-weight: 600;
    border-radius: .5rem;
    transition: .3s;
}
  
.button:hover {
    box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.15);
}

.about{
    /* display: flex; */
}

.about__container {
    row-gap: 2rem;
    column-gap: 2rem;
    text-align: right;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.5rem;
    line-height: 2.5rem;
}

.about__container h2 {
    font-size: 3rem;
    font-weight: 600;
}

.skills__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.skills__container h2 {
    font-size: 2.25rem;
}

.skills__container p {
    font-size: 1.75rem;
}

.contact__input {
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1.5px solid brown;
    font-size: 1rem;
    font-weight: 600;
}

.contact__button {
    display: block;
    border: none;
    outline: none;
    font-size: 1rem;
    cursor: pointer;
    margin-left: auto;
}

#contact {
    height: 700px;
}

.footer {
    background-color: brown;
    color: black;
    text-align: center;
    font-weight: 600;
    padding: 2rem 0;
  }
  
  .footer__title {
    font-size: 2rem;
    margin-bottom: 6rem;
  }
  
  .footer__social {
    margin-bottom: 6rem;
  }
  
  .footer__icon {
    font-size: 1.5rem;
    color: black;
    margin: 0 ;
  }
  
  .footer__copy {
    font-size: 0.75rem;
  }

@media screen and (min-width: 768px){

    .nav__list{
        display: flex;
        padding-top: 0;
        margin-left: 50%;
    }

    .nav__item {
        margin-left: 3rem;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 770px) {
    .nav__logo {
        display: none;
    }

    .nav__list {
        display: flex;
        padding-top: 0;
        margin-left: 0;
        text-align: center;
    }

    .nav__item {
        margin-left: 3rem;

    }
}

/* @media screen and (min-width: 576px) {

} */